@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&display=swap');

html
{
    font-family: 'Alumni Sans', sans-serif;
}

#main-section
{
    background-image: url(./images/pexels-kaique-rocha-125510.jpg);
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-color: rgba(0, 0, 0, 0.575);
    background-blend-mode: multiply;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo
{
    width: 100vw;
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#main-logo
{
    height: 80%;
    padding-left: 3rem;
}

.search-bar-cont
{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.search-bar-form
{
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 3rem;
}

#search-input
{
   width: max(5rem, 100%);
   height: 3rem;
   border-radius: 20px;
   border: none;
   outline: none;
   padding-left: 2rem;
   background-color: rgba(101, 109, 109, 0.521);
   color: rgb(255, 254, 254);
   font-size: 1.3rem;
}

#search-input::placeholder
{
    color: rgba(255, 255, 255, 0.705);
    font-size: 1.2rem;
}

.button
{
    background: none;
    border: none;
    transform-origin: left;
    transform: translateX(-3rem);

    cursor: pointer;
}

.button:hover
{
    transform: scale(1.1) translateX(-3rem);
}

#search-icon-img
{
    width: 2rem;
}

.place-cont
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

}

.City
{
    font-size: 7rem;
    color: white;
}

.location-grouping
{
    display: flex;
    justify-content: center;
}

.country
{
    font-size: 2rem;
    color: white;
    margin-right: 5rem;
}

.coordinates-cont
{
    font-size: 2rem;
    color: white;
}


